<title>Album Created</title>
     <div class ="row">
       <h2><%=@album.name%></h2><br>

<iframe scrolling="no" frameborder="0" allowTransparency="true" src="https://www.deezer.com/plugins/player?format=square&autoplay=false&playlist=false&width=230&height=230&color=007FEB&layout=&size=medium&type=album&id=<%=@album.album_link_id%>&app_id=1" width="230" height="230"></iframe>
     </div>