<title>Edit Album</title>

<div class="row">
  <h3>Edit Album</h3>

  <form action="/album/<%=@album.id%>" method = "post">
    <label for="name"> Name:</label>
    <input type="text" name="name" value="<%=@album.name%>">
    <label for="album_link_id">Image url link:</label>
    <input type="text" name="album_link_id" value="<%=@album.album_link_id%>">

    <input type="submit" name="Update Album">
  </form>
</div>