<title>The Library</title>

<div class="row">
  <h2>The Library</h2>

  <div>
  <%@artists.each do |artist|%>
  <br>
  <div>
    <a href="/artist/<%=artist.id%>"> <h4><b><%=artist.name%></b></h4></a>
      <% albums = artist.albums() %>
      <% albums.each do |album|%>
        <p><%=album.name%></p>

    <%end%>
  </div>
  <%end%>
</div>
